{% extends '_base.html' %}
{% block title %} ورود کاربران {% endblock title %}
<!------------------------->
{% block content %}

    <div class="d-flex justify-content-center">
    <div class="card text-center mt-5" style="width: 30rem;">
        <div class="card-header">ورود کاربران</div>
        <div class="card-body">
            <h5 class="card-title">نام کاربری و کلمه عبور خود را وارد نمایید.</h5>
            <p class="card-text">
            <form method="post">
                {% csrf_token %}
              {{ form.as_p }}

                <button type="submit" class="btn btn-success">ورود کاربران
                </button>
            </form>
            </p>
        </div>
        <div class="card-footer text-muted">
             <a href="{% url 'signup' %}" class="btn btn-secondary">ثبت نام کاربر جدید</a>
        </div>
    </div>
</div>



{% endblock content %}
<!------------------------->
